@import "../../ui-kit/Styles/index";

.footer {
    background-color: $color-dark-purple;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    font-size: 1.2rem;

    @media(max-width: 1024px){
      visibility: hidden;
    }
  }
  
  .footer h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .interests-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .interests-list li {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: #ddd;
    border-radius: 20px;
    text-align: center;
    color: #191919;
    font-weight: bold;
  }
  
.DetailsFooter{
  padding-left: 180px;
  display: flex;
  gap: 150px;
}

.detailsLogo{
  margin-top: -20px;
  display: flex;
  gap: 28px;
  align-items: center;
}

.logoFooter{
  &:hover{
    box-shadow: $shadow-card;
    border-radius: 200px;
  }
}

  @media (max-width: 768px) {
    .interests-list {
      flex-direction: column;
    }
  
    .interests-list li {
      margin: 0.5rem 0;
    }
  }
  